/*---gjord av melvin, ändrad av hibba---*/
.grid{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    display:grid;
    padding: 2px;
}
/*---gjord av melvin, ändrad av hibba---*/
.knapp{
    height: 20px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 auto;
}
/*--gjord av hibba--*/
body{
    background-image: url('Bilder/Space-Force-800x400.jpeg');
}
.img1{
    width: 450px;
    height: 300px;
    margin: auto 0;
}
.img2{
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
.img3{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    margin: auto 0;
}
h1{
    text-align: center;
    font-style: italic;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 1em;
}
.mitten{
    margin: 0 auto;
    max-width: 1000px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding-left: 2em;
    padding-right: 2em;
}
/*--*/