/*---
länkat font
gjord av melvin---*/
@font-face {
  font-family:"space ranger";
  src: url(fonts/OriginTech\ personal\ use.ttf);
}
/*---
sin font så att det funkar på alla sidor
gjord av melvin---*/
:root{
  font-family: "space ranger";
}
/*---
knapp för att byta sida
gjord av melvin---*/
.button1{
margin-right: 20px;    
    justify-self: right;
    text-decoration: underline;
    color:black;
}
.button2{
  color: black;
  text-decoration: underline;

}

/*Header/dropdown menu, hibba's del*/
body{
    margin: 0;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url('bilder/rymden.jpeg');
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
  } 
  .navbar li a{
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } 
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(53, 10, 53);
  } 
  .dropdown-content {
    display: none;
    position: absolute;
    background-image: url('bilder/black-stars.jpeg');
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: rgb(36, 17, 50);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .size{
    margin-left: 1em;
    width: 40px;
    height: 40px;
  }
/*Slut på header*/